node_modules
.next
**/node_modules
**/.next
**/playwright-report
**/test-results
**/*.tsbuildinfo
.env
.git
*.md
.github/*
!.github/readme-assets/
.github/readme-assets/*
!.github/readme-assets/walkthrough.mp4
infra/*
!infra/container-entrypoint.sh
